################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AndroidProject/bin/Debug
/AndroidProject/obj/Debug
/packages
